body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.a1 {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: .25;\
}

a {
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center;
  margin: auto;
  display: block;
}

.banner {
  height:30px;
  background-color: #0275d8;
  color: white;
  cursor: pointer;
  font-size: 85%;
  padding-top: 20px;
}

.banner:hover {
  background-color: #337ab7;
}

.header {
  min-height: 45px;
  cursor: pointer;
}

.text-left {
  height: 45px;
  color: #563d7c;
  padding-right: 23px;
  margin-left: 320px;
  margin-top: 1px;
  margin-bottom: 3px;
  display: inline-block;
  font-size: 90%;
}

.text-right {
  height: 45px;
  color: #563d7c;
  padding-left: 20px;
  margin-left: 295px;
  margin-top: 1px;
  margin-bottom: 3px;
  display: inline-block;
  font-size: 95%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding-left: 25px;
}
.purple-bod {
  background-color: #6f5499;
  background: linear-gradient(#563d7c, #6f5499);
}

.hold {
  padding-top: 75px;
  padding-bottom: 100px;
  margin: auto;
  height: 400px;
}

.B {
  height: 122px;
  width: 122px;
  border-radius: 15%;
  border: 1px solid #cdbfe3;
  margin: auto;
  padding-top: 10px;
  text-align: center;
  font-size: 675%;
  color: #fff;
  padding: 10px;
}

#body-large {
  color: #fff;
  font-size: 185%;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 30px;
  line-height: 1.5;
}

.download {
  height: 57px;
  width: 245px;
  border: 1px solid #cdbfe3;
  border-radius: 7px;
  background-color: inherit;
  margin: auto;
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  font-size: 125%;
}

.download:hover {
  background-color: #fff;
  color: #6f5499;
}

#version {
  color: #9783b9;
  font-size: 90%;
  padding-top: 15px;
}

.hold1 {
  padding-top: 100px;
  margin: auto;
  height: auto;
}

.large {
  color: #333;
  font-size: 250%;
  text-wrap: wrap;
  overflow: none;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 30px;
}

.body-grey {
  color: #555;
  font-size: 125%;
  padding-right: 27%;
  padding-left: 27%;
  line-height: 150%;
  letter-spacing: .5;
}

.line-sm {
  height: 2px;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.line-lg {
  height: 2px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-bottom: 1px solid #e5e5e5;
}

.hold2 {
  height: auto;
  width: 1300px;
  display: block;
  margin: auto;
}

.column {
  width:;
  height:inherit;
  display: inline-block;
  margin: 5px;
}

.pics {
  height: 125px;
  width: 350px;
  margin: 15px;
}

.pics-box {
  padding-top: 20px;
  padding-bottom: 30px;
  height: 125px;
  width: 1150px;
  margin: auto;
  display: block;
  margin
}

.col-title {
text-align: center;
font-size: 150%;
color: #000;
line-height: 150%;
width: 375px;
}

.col-text {
  text-align: center;
  font-size: 100%;
  color: #555;
  line-height: 150%;
  padding-top: 0px;
  margin-top: 0px;
  width: 375px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.github{
  height: 50px;
  width: 230px;
  border: 1px solid #563d7c;
  border-radius: 7px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  margin-top: 30px;
  color: #563d7c;
  font-size: 120%;
}

.github:hover {
background-color: #6f5499;
color: #fff;
cursor: pointer;
}

.pics-box1 {
  padding-top: 20px;
  padding-bottom: 130px;
  height: 125px;
  width: 1150px;
  margin: auto;
  display: block;
  margin
}

.photo {
  height: 210px;
  width: 280px;
  margin-top: 30px;
}

.expo {
height:800px;
}

.spacer {
height: 200px;
margin-top: 30px;
}

.blue {
  text-decoration: none;
  color: #337ab7;
}

.blue:hover {
  text-decoration: underline;
  color: #337ab7;
}

.expo-but {
  height: 45px;
  width: 180px;
  border: 1px solid #563d7c;
  border-radius: 7px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  margin-top: 20px;
  color: #563d7c;
  font-size: 125%;
}

.expo-but:hover {
  background-color: #6f5499;
  color: #fff;
  cursor: pointer;
}

.a2 {
  text-decoration: none;
  color: inherit;
}

.a2:hover{
text-decoration: underline;
color: inherit;
}

span {
  color: #99979c;
}

footer {
height: 140px;
background-color: #2a2730;
color: #fff;
bottom: 0;
padding-left: 300px;
padding-top: 40px;
font-size: 90%;
}
